# Day 2 - Giftshop

One of the younger Elves was playing on a gift shop computer and managed to add a whole bunch of invalid product IDs to their gift shop database!
- invalid IDs are made by sequences of digits repeated twice
- Solution is adding the valid IDs together.

# Part 1

### Practice

In [64]:
s = "11-22,95-115,998-1012,1188511880-1188511890,222220-222224,1698522-1698528,446443-446449,38593856-38593862,565653-565659,824824821-824824827,2121212118-2121212124"

In [65]:
ids = s.split(',')
ids

['11-22',
 '95-115',
 '998-1012',
 '1188511880-1188511890',
 '222220-222224',
 '1698522-1698528',
 '446443-446449',
 '38593856-38593862',
 '565653-565659',
 '824824821-824824827',
 '2121212118-2121212124']

In [72]:
total = 0 
for ID in ids: 
    i = ID.find('-')
    a = int(ID[:i])
    b = int(ID[i+1:])
    for num in range(a,b+1):
        num = str(num)
        if num[0:3] == num[3:6]:
            print(ID, num)
            total += int(num)
            continue
        elif num[0:2] == num[2:4]:
            print(ID, num)
            total += int(num) 
            continue
        elif num[0] == num[1]:
            print(ID, num)
            total += int(num) 
            continue
        else:
            continue

# This is taking too many numbers into consideration, perhaps if I just split the IDs in half I can check the two halves against each other?

11-22 11
11-22 22
95-115 99
95-115 110
95-115 111
95-115 112
95-115 113
95-115 114
95-115 115
998-1012 998
998-1012 999
998-1012 1010
1188511880-1188511890 1188511880
1188511880-1188511890 1188511881
1188511880-1188511890 1188511882
1188511880-1188511890 1188511883
1188511880-1188511890 1188511884
1188511880-1188511890 1188511885
1188511880-1188511890 1188511886
1188511880-1188511890 1188511887
1188511880-1188511890 1188511888
1188511880-1188511890 1188511889
1188511880-1188511890 1188511890
222220-222224 222220
222220-222224 222221
222220-222224 222222
222220-222224 222223
222220-222224 222224
446443-446449 446443
446443-446449 446444
446443-446449 446445
446443-446449 446446
446443-446449 446447
446443-446449 446448
446443-446449 446449
565653-565659 565653
565653-565659 565654
565653-565659 565655
565653-565659 565656
565653-565659 565657
565653-565659 565658
565653-565659 565659
824824821-824824827 824824821
824824821-824824827 824824822
824824821-824824827 824824823
824824821-824824827 824824824
824824821-824824827 824824825
824824821-824824827 824824826
824824821-824824827 824824827
2121212118-2121212124 2121212118
2121212118-2121212124 2121212119
2121212118-2121212124 2121212120
2121212118-2121212124 2121212121
2121212118-2121212124 2121212122
2121212118-2121212124 2121212123
2121212118-2121212124 2121212124

In [84]:
total = 0 
for ID in ids: 
    i = ID.find('-')
    a = int(ID[:i])
    b = int(ID[i+1:])
    for num in range(a,b+1):
        num = str(num)
        half = int(len(num) / 2 )
        half1 = num[:half]
        half2 = num[half:]
        if half1 == half2:
            total += int(num)

In [85]:
print(total)

1227775554

### Full exercise

In [32]:
filepath = 'day2_input.txt'
ids = []
with open (filepath, 'r') as infile:
    for line in infile.readlines():
        cleaned = line.rstrip()
        ids = cleaned.split(",")
ids

['853-1994',
 '1919078809-1919280414',
 '1212082623-1212155811',
 '2389-4173',
 '863031-957102',
 '9393261874-9393318257',
 '541406-571080',
 '1207634-1357714',
 '36706-61095',
 '6969667126-6969740758',
 '761827-786237',
 '5516637-5602471',
 '211490-235924',
 '282259781-282327082',
 '587606-694322',
 '960371-1022108',
 '246136-353607',
 '3-20',
 '99-182',
 '166156087-166181497',
 '422-815',
 '82805006-82876926',
 '14165-30447',
 '4775-7265',
 '83298136-83428425',
 '2439997-2463364',
 '44-89',
 '435793-511395',
 '3291059-3440895',
 '77768624-77786844',
 '186-295',
 '62668-105646',
 '7490-11616',
 '23-41',
 '22951285-23017127']

In [97]:
total = 0 
for ID in ids: 
    i = ID.find('-')
    a = int(ID[:i])
    b = int(ID[i+1:])
    for num in range(a,b+1):
        num = str(num)
        half = int(len(num) / 2 )
        half1 = num[:half]
        half2 = num[half:]
        if half1 == half2:
            total += int(num)
total

23701357374

### Part 2

In [23]:
s = "11-22,95-115,998-1012,1188511880-1188511890,222220-222224,1698522-1698528,446443-446449,38593856-38593862,565653-565659,824824821-824824827,2121212118-2121212124"

In [24]:
ids = s.split(',')
ids

['11-22',
 '95-115',
 '998-1012',
 '1188511880-1188511890',
 '222220-222224',
 '1698522-1698528',
 '446443-446449',
 '38593856-38593862',
 '565653-565659',
 '824824821-824824827',
 '2121212118-2121212124']

In [9]:
def check_repeat(num):
    check = set()
    response = []
    final = []
    n = len(num) // 2 + 1
    for hop in range(1, n):
        for i in range(0, len(num)):
            check.add(num[i:i+hop])
            if num[i:i+hop] in check:
                response.append("T")
            else:
                response.append("F")
                break
        if 'F' in response:
            final.append("F")
        else:
            final.append("T")
    return(final, check)

In [11]:
total = 0 
for ID in ids: 
    i = ID.find('-')
    a = int(ID[:i])
    b = int(ID[i+1:])
    for num in range(a,b+1):
        num = str(num)
        result, check = check_repeat(num)
        if 'F' in result:
            break 
        else: 
            total += int(num)

In [12]:
total

33986149340

In [7]:
check

{'1',
 '12',
 '121',
 '1212',
 '12121',
 '12124',
 '124',
 '2',
 '21',
 '212',
 '2121',
 '21212',
 '2124',
 '24',
 '4'}

In [8]:
result

['T', 'T', 'T', 'T', 'T']

Still no correct solution, I need a different approach. I thought maybe I could slightly change my solution by concatenatig strings... plus some of the logic with T and F does not make too much sense, rivisit that

In [19]:
num = '2121212121'

In [21]:
seq = num[0:2]

In [26]:
times = int(len(num) / len(seq))

In [28]:
seq * times

'2121212121'

In [27]:
num == seq * times

True

In [29]:
num = '38593859'

In [31]:
seq = num[0:4]
times = int(len(num) / len(seq))
seq * times
num == seq * times

True

In [33]:
def check_repeat(num):
    check = set()
    response = []
    final = []
    n = len(num) // 2 + 1
    for hop in range(1, n):
        seq = num[0:hop]
        times = int(len(num) / len(seq))
        if num == seq * times:
            response.append('T')
        else:
            response.append('F')
        if 'T' in response:
            final.append("T")
        else:
            final.append("F")
    return(final)

In [34]:
def find_invalid_ids(ids):
    total = 0 
    for ID in ids: 
        i = ID.find('-')
        a = int(ID[:i])
        b = int(ID[i+1:])
        for num in range(a,b+1):
            num = str(num)
            result = check_repeat(num)
            if 'T' in result:
                total += int(num)
    return(total)

In [35]:
filepath = 'day2_input.txt'
ids = []

with open (filepath, 'r') as infile:
    for line in infile.readlines():
        cleaned = line.rstrip()
        ids = cleaned.split(",")
ids
total = find_invalid_ids(ids)

In [36]:
total

34284458938