# Mortal Fibonacci Rabbits
https://rosalind.info/problems/fibd/

### Practice

In [30]:
m = 3
months = list(range(1,n +1))
sliced = months[2:len(months):m]
print(months)
print(sliced)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
[3, 6, 9, 12]

In [14]:
n = 12 # population after n months
m = 3 # rabbits die after m months
months = list(range(1,n +1))
sliced = months[0:len(months):m]
print(months)
print(sliced)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
[1, 4, 7, 10]

In [83]:
n = 12  # population after n months
m = 3
months = list(range(1,n + 1))
sliced = months[0:len(months):m +1]
population = {}

for month in months:
    if month == 1 or month == 2:
        population[month] = 1
    elif month in sliced:
        population[month] = population[month-m]
    else:
        population[month] = population[month-1] + population[month-2]
print(population[n])

30

In [81]:
population

{1: 1, 2: 1, 3: 2, 4: 3, 5: 1, 6: 4, 7: 5, 8: 9, 9: 4, 10: 13, 11: 17, 12: 30}

In [84]:
months

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [102]:
n = 12
m = 3

births = [0] * (n+1)
mature = [0] * (n+1)
deaths = [0] * (n+1)
total = [0] * (n+1)

# Month 1: start with 1 newborn
births[1] = 1
total[1] = 1

for i in range(2, n+1):

    # births come from last month's mature rabbits
    births[i] = mature[i-1]

    # rabbits mature after 1 month
    mature[i] = births[i-1] + mature[i-1]

    # rabbits die after m months
    if i > m:
        deaths[i] = births[i-m]
    else:
        deaths[i] = 0

    total[i] = total[i-1] + births[i] - deaths[i]

print(total[n])

AttributeError: 'int' object has no attribute 'append'

In [100]:
mature

0

In [115]:
n = 96
m = 16

births = [0] * (n+1)
mature = [0] * (n+1)
deaths = [0] * (n+1)
total = [0] * (n+1)

In [116]:
for i in range(1, n+1):
    if i == 1:
        births[i] = 1
        mature[i] = 0
        deaths[i] = 0
        total[i] = 1
        continue
    if i > m:
        deaths[i] = births[i-m]
    else:
        deaths[i] = 0
    births[i] = mature[i-1]
    mature[i] = births[i-1] + mature[i-1]
    total[i] = total[i-1] + births[i] - deaths[i]

print(total[n])
total

51657292126509855387

[0,
 1,
 1,
 2,
 3,
 5,
 8,
 13,
 21,
 34,
 55,
 89,
 144,
 233,
 377,
 610,
 987,
 1596,
 2583,
 4179,
 6762,
 10941,
 17703,
 28644,
 46347,
 74991,
 121338,
 196329,
 317667,
 513996,
 831663,
 1345659,
 2177322,
 3522981,
 5700303,
 9223284,
 14923587,
 24146871,
 39070458,
 63217329,
 102287787,
 165505116,
 267792903,
 433298019,
 701090922,
 1134388941,
 1835479863,
 2969868804,
 4805348667,
 7775217471,
 12580566138,
 20355783609,
 32936349747,
 53292133356,
 86228483103,
 139520616459,
 225749099562,
 365269716021,
 591018815583,
 956288531604,
 1547307347187,
 2503595878791,
 4050903225978,
 6554499104769,
 10605402330747,
 17159901435516,
 27765303766263,
 44925205201779,
 72690508968042,
 117615714169821,
 190306223137863,
 307921937307684,
 498228160445547,
 806150097753231,
 1304378258198778,
 2110528355952009,
 3414906614150787,
 5525434970102796,
 8940341584253583,
 14465776554356379,
 23406118138609962,
 37871894692966341,
 61278012831576303,
 99149907524542644,
 160427920356118947,
 259577827880661591,
 420005748236780538,
 679583576117442129,
 1099589324354222667,
 1779172900471664796,
 2878762224825887463,
 4657935125297552259,
 7536697350123439722,
 12194632475420991981,
 19731329825544431703,
 31925962300965423684,
 51657292126509855387]