# Built-in Functions and Help
https://galicae.github.io/python-novice/04-built-in.html

Every function call produces some result. If the function does not have a useful result to return, it returns special value **`None`**.

In [30]:
result = print('example')
print('result of print is', result)

example
result of print is None

#### Commonly used functions

In [31]:
print(max(1, 2 , 3))
print(min('a', 'A')) #both can work on both numbers and strings

3
A

In [32]:
print(round(3.6904))

4

In [33]:
print(round(3.2123))

3

In [34]:
print(round(3.2123, 1)) #we can specify how many digits we want

3.2

### Method functions
- Functions take another form that will be common in the pandas episodes.
- Methods have parentheses like functions, but come after the variable.
- Some methods are used for internal Python operations, and are marked with double underlines (\_\_len\_\_).

see more at https://www.w3schools.com/python/python_strings_methods.asp

In [35]:
my_string = 'Hello world!'  
print(len(my_string))     
print(my_string.swapcase())
print(my_string.__len__()) #same as above but internal len method

12
hELLO WORLD!
12

In [36]:
print(my_string.isupper())  #T or F statements
print(my_string.upper()) 
print(my_string.upper().isupper())

False
HELLO WORLD!
True

### 1. Locating words or letters within a bigger string.
- **startswith()** &rarr; returns True if the string starts with specified value,
otherwise False
  - _string_.startswith(value, start, end)
- **endswith()** &rarr; returns T if striing ends with specified value, otherwise F
    - _string_.endswith(value, start, end)
- **find()** &rarr; finds 1st occurrrence of specificed value, or returns -1 if value not found.
    - _string_.find(value, start, end)
- **count()** &rarr; finds and counts all occurrences of a word/letter
    - _string_.count(value, start, end)
- **replace()** &rarr; replaces all occurrences of a letter/word with another
    - _string_.replace(oldvalue, newvalue, count)

In [45]:
txt = "Hello, welcome to my world \nCiao, benvenuti nel mio mondo \nHola, bienvenidos en mi mundo"

In [38]:
print(txt)

Hello, welcome to my world
Ciao, benvenuti nel mio mondo
Hola, bienvenidos en mi mundo

#### startswith()

In [39]:
txt.startswith("Hello")

True

In [40]:
txt.startswith("welcome", 7)

True

In [52]:
txt.startswith("wel", 7, 20)

True

In [53]:
txt.startswith(("Hello", "Hi")) # checks if it starts either with one of the other

True

#### endswith()

In [48]:
txt.endswith("mi mundo")

True

In [55]:
txt2 = "Hello, welcome to my world."
txt2.endswith("my world.", 5, 11)

False

In [56]:
txt3 = "Hello, welcome to my castle."
txt3.endswith(("world.", "castle."))

True

#### find()

In [57]:
txt.find("e")

1

In [61]:
txt.find("e", 5, 10)

8

In [62]:
txt.find("q")

-1

In [66]:
txt.index("q") # index() behaves similarly to find() but returns an error instead of a value.

ValueError: substring not found

#### count()

In [67]:
txt = "I love apples, apple are my favorite fruit"

x = txt.count("apple")

print(x)

2

In [68]:
txt = "I love apples, apple are my favorite fruit"

x = txt.count("apple", 10, 24)

print(x)

1

#### replace()

In [69]:
txt = "I like bananas"

x = txt.replace("bananas", "apples")

print(x)

I like apples

In [70]:
txt = "one one was a race horse, two two was one too."

x = txt.replace("one", "three")

print(x)

three three was a race horse, two two was three too.

In [72]:
txt = "one one was a race horse, two two was one too." 

x = txt.replace("one", "three", 2) #replaces only first 2 occurrances

print(x)

three three was a race horse, two two was one too.

### 2. Removing and formatting 
- **lstrip()** &rarr; removes spaces to the left of string
     - _string_.lstrip(characters)
- **rstrip()** &rarr; removes spaces ath the end of string
     - _string_.rstrip(characters)
- **strip()** &rarr; removes spaces at beginning and end of string
     - _string_.strip(characters)
- **split()** &rarr; split a string into a list where each word is a list item
     - _string_.split(separator, maxsplit)

#### lstrip()

In [73]:
txt = "     banana     "

x = txt.lstrip()

print("of all fruits", x, "is my favorite")

of all fruits banana      is my favorite

In [74]:
txt = ",,,,,ssaaww.....banana"

x = txt.lstrip(",.asw")

print(x)

banana

#### rstrip()

In [75]:
txt = "     banana     "

x = txt.rstrip()

print("of all fruits", x, "is my favorite")

of all fruits      banana is my favorite

In [76]:
txt = "banana,,,,,ssqqqww....."

x = txt.rstrip(",.qsw")

print(x)

banana

#### strip()

In [78]:
txt = "     banana     "

x = txt.strip()

print("of all fruits", x, "is my favorite")

of all fruits banana is my favorite

In [77]:
txt = ",,,,,rrttgg.....banana....rrr"

x = txt.strip(",.grt")

print(x)

banana

#### split()

In [79]:
txt = "welcome to the jungle"

x = txt.split()

print(x)

['welcome', 'to', 'the', 'jungle']

In [80]:
txt = "hello, my name is Peter, I am 26 years old"

x = txt.split(", ")

print(x)

['hello', 'my name is Peter', 'I am 26 years old']

In [81]:
txt = "apple#banana#cherry#orange"

x = txt.split("#")

print(x)

['apple', 'banana', 'cherry', 'orange']

In [82]:
txt = "apple#banana#cherry#orange"

# setting the maxsplit parameter to 1, will return a list with 2 elements!
x = txt.split("#", 1)

print(x)

['apple', 'banana#cherry#orange']